<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring/applicationContext-mq.xml"/>

    <!--######################### 消费者相关配置 ##########################-->

    <!--从快站文章导入消费者-->
    <bean id="kzArticleImportListenerAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter" >
        <constructor-arg name="delegate">
            <bean class="com.kuaizhan.mq.KZArticleImportConsumer"/>
        </constructor-arg>
    </bean>
    <!-- 从微信导入文章消费者 -->
    <bean id="weixinPostListListenerAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter" >
        <constructor-arg name="delegate">
            <bean class="com.kuaizhan.mq.WeixinPostListConsumer"/>
        </constructor-arg>
    </bean>
    <!-- 从微信导入单条文章的消费者 -->
    <bean id="weixinPostListenerAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter" >
        <constructor-arg name="delegate">
            <bean class="com.kuaizhan.mq.WeixinPostConsumer"/>
        </constructor-arg>
    </bean>
    <!--数据迁移的消费者-->
    <bean id="dataMigrationAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
        <constructor-arg name="delegate">
            <bean class="com.kuaizhan.mq.DataMigrationConsumer"/>
        </constructor-arg>
    </bean>

    <rabbit:listener-container connection-factory="connectionFactory" concurrency="5">
        <rabbit:listener ref="kzArticleImportListenerAdapter" queue-names="sys-kzweixin-import-kuaizhan-post" />
        <rabbit:listener ref="weixinPostListListenerAdapter" queue-names="sys-kzweixin-import-weixin-post-list"/>
        <rabbit:listener ref="weixinPostListenerAdapter" queue-names="sys-kzweixin-import-weixin-post" />
        <rabbit:listener ref="dataMigrationAdapter" queue-names="sys-kzweixin-data-migration" />
    </rabbit:listener-container>

</beans>