<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring/applicationContext-mq.xml"/>

    <!--######################### 消费者相关配置 ##########################-->

    <bean id="messageListenerAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter" >
        <constructor-arg name="delegate">
            <bean class="com.kuaizhan.mq.KZArticlePostConsumer"/>
        </constructor-arg>
    </bean>

    <rabbit:listener-container connection-factory="connectionFactory" >
        <rabbit:listener ref="messageListenerAdapter" queue-names="sys-kzweixin-import-kuaizhan-post" />
    </rabbit:listener-container>

</beans>