<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- MQ server 连接配置 -->
    <bean id="connectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <constructor-arg index="0" value="${rabbit.host}" />
        <constructor-arg index="1" value="${rabbit.port}" />
        <property name="username" value="${rabbit.username}" />
        <property name="password" value="${rabbit.password}" />
    </bean>

    <!--rabbitAdmin-->
    <bean id="rabbitAdmin" class="org.springframework.amqp.rabbit.core.RabbitAdmin">
        <constructor-arg ref="connectionFactory" />
    </bean>

    <!-- Exchange的声明 -->
    <bean id="directExchange" class="org.springframework.amqp.core.DirectExchange" >
        <constructor-arg name="name" value="${rabbit.exchange}" />
    </bean>

    <!-- 发布消息需要的rabbitTemplate配置 -->
    <bean id="rabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="exchange" value="${rabbit.exchange}" />
    </bean>


    <!-- #################### queue的声明 ###################### -->
    <!--从快站导入文章的queue-->
    <bean id="queueImportKuaizhanPost" class="org.springframework.amqp.core.Queue" >
        <constructor-arg name="name" value="sys-weixin-import-kuaizhan-post" />
    </bean>

    <!--queue和exchange的绑定，默认以queue的名字作为routing_key -->
    <bean id="importKuaizhanPostBindingProxy" class="com.kuaizhan.common.BindingProxy">
        <property name="exchange" ref="directExchange" />
        <property name="queue" ref="queueImportKuaizhanPost" />
    </bean>
    <bean id="BindingimportKuaizhanPost" factory-bean="importKuaizhanPostBindingProxy" factory-method="getBinding" ></bean>


    <!--######################### 消费者相关配置 ##########################-->
    <bean id="messageReceiver" class="com.kuaizhan.mq.ConsumerExample"></bean>
    <!-- message listener adapter -->
    <bean id="messageListenerAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter" >
        <constructor-arg name="delegate" ref="messageReceiver" />
    </bean>
    <!-- message listener adapter Container -->
    <bean id="simpleMessageListenerContainer2" class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer" >
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="messageListener" ref="messageListenerAdapter" />
        <property name="queueNames" value="sys-weixin-import-kuaizhan-post" />
    </bean>

</beans>