<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
        <context id="mysql" defaultModelType="flat" targetRuntime="MyBatis3">
            <!--定义这些配置还得注意顺序-->

            <!-- 分页插件 -->
            <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
            <!-- 存在即更新插件 -->
            <plugin type="com.itfsw.mybatis.generator.plugins.UpsertPlugin"/>

            <commentGenerator>
                    <property name="suppressDate" value="true" />
                    <property name="suppressAllComments" value="true" />
            </commentGenerator>

            <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                            connectionURL="jdbc:mysql://10.11.172.135:3306/kuaizhan_weixin_1"
                            userId="kuaizhandev" password="kkkzzz" />

            <javaTypeResolver>
                <property name="forceBigDecimals" value="false" />
            </javaTypeResolver>

            <!-- 生成PO对象 -->
            <javaModelGenerator targetPackage="com.kuaizhan.kzweixin.dao.po.auto" targetProject="src/main/java">
                    <property name="enableSubPackages" value="false" />
            </javaModelGenerator>

            <!-- 生成mapper xml -->
            <sqlMapGenerator targetPackage="mapper.auto" targetProject="src/main/resources">
                    <property name="enableSubPackages" value="true" />
            </sqlMapGenerator>

            <!-- 生成DAO的类文件 -->
            <javaClientGenerator type="XMLMAPPER" targetPackage="com.kuaizhan.kzweixin.dao.mapper.auto"
                                 targetProject="src/main/java">
                    <property name="enableSubPackages" value="true" />
            </javaClientGenerator>


            <!--<table tableName="weixin_msg_config" domainObjectName="MsgConfigPO" mapperName="MsgConfigMapper">-->
                <!--&lt;!&ndash;status没被使用&ndash;&gt;-->
                <!--<ignoreColumn column="status" />-->
            <!--</table>-->

            <!--<table tableName="weixin_menu_item" domainObjectName="MenuItemPO" mapperName="MenuItemMapper">-->
                <!--<columnOverride column="status" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <!--<table tableName="weixin_conditional_menu" domainObjectName="ConditionMenuPO" mapperName="ConditionMenuMapper">-->
                <!--<columnOverride column="status" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <!--<table tableName="site_weixin" domainObjectName="AccountPO" mapperName="AccountMapper">-->
                <!--<columnOverride column="service_type" javaType="java.lang.Integer"/>-->
                <!--<columnOverride column="is_del" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <table tableName="weixin_msg_0" domainObjectName="MsgPO" mapperName="MsgMapper">
                <generatedKey column="msg_id" sqlStatement="MySql" identity="true" />
                <columnOverride column="status" javaType="java.lang.Integer"/>
                <columnOverride column="content" jdbcType="VARCHAR" />
                <columnOverride column="type" javaType="com.kuaizhan.kzweixin.enums.MsgType"
                                typeHandler="com.kuaizhan.kzweixin.dao.typehandler.MsgTypeHandler" />
                <columnOverride column="send_type" javaType="com.kuaizhan.kzweixin.enums.MsgSendType"
                                typeHandler="com.kuaizhan.kzweixin.dao.typehandler.MsgSendTypeHandler" />
            </table>

            <!--<table tableName="weixin_open_ids_0" domainObjectName="OpenIdPO" mapperName="OpenIdMapper">-->
                <!--<columnOverride column="status" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <!--<table tableName="weixin_action" domainObjectName="ActionPO" mapperName="ActionMapper">-->
                <!--<generatedKey column="id" sqlStatement="MySql" identity="true" />-->
                <!--<columnOverride column="action_type" javaType="com.kuaizhan.kzweixin.enums.ActionType"-->
                                <!--typeHandler="com.kuaizhan.kzweixin.dao.typehandler.ActionTypeHandler" />-->
                <!--<columnOverride column="response_type" javaType="com.kuaizhan.kzweixin.enums.ResponseType"-->
                                <!--typeHandler="com.kuaizhan.kzweixin.dao.typehandler.ResponseTypeHandler"/>-->
                <!--<columnOverride column="biz_code" javaType="com.kuaizhan.kzweixin.enums.BizCode"-->
                                <!--typeHandler="com.kuaizhan.kzweixin.dao.typehandler.BizCodeTypeHandler" />-->
            <!--</table>-->

            <!--<table tableName="weixin_fans_0" domainObjectName="FanPO" mapperName="FanMapper">-->
                <!--<columnOverride column="status" javaType="java.lang.Integer"/>-->
                <!--<columnOverride column="sex" javaType="java.lang.Integer"/>-->
                <!--<columnOverride column="in_blacklist" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <!--<table tableName="weixin_guide_follow" domainObjectName="GuideFollowPostPO" mapperName="GuideFollowPostMapper">-->
                <!--<columnOverride column="status" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <!--<table tableName="weixin_tpl_msg" domainObjectName="TplMsgPO" mapperName="TplMsgMapper">-->
                <!--<columnOverride column="status" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <table tableName="weixin_keywords" domainObjectName="KeywordPO" mapperName="KeywordMapper">
                <generatedKey column="rule_id" sqlStatement="MySql" identity="true" />
                <columnOverride column="status" javaType="java.lang.Integer"/>
                <columnOverride column="keywords_json" jdbcType="VARCHAR" />
                <columnOverride column="response_type" javaType="com.kuaizhan.kzweixin.enums.ComponentResponseType"
                                typeHandler="com.kuaizhan.kzweixin.dao.typehandler.ComponentResponseTypeHandler" />
            </table>

        </context>
</generatorConfiguration>
