<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
        <classPathEntry location="/Users/fty_07/.m2/repository/mysql/mysql-connector-java/5.1.32/mysql-connector-java-5.1.32.jar" />
        <context id="mysql" targetRuntime="MyBatis3">
            <!--定义这些配置还得注意顺序-->
            <!-- 分页插件 -->
            <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>

            <commentGenerator>
                    <property name="suppressDate" value="true" />
                    <property name="suppressAllComments" value="false" />
            </commentGenerator>

            <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                            connectionURL="jdbc:mysql://10.11.172.135:3306/kuaizhan_weixin_1"
                            userId="kuaizhandev" password="kkkzzz" />

            <javaTypeResolver>
                <property name="forceBigDecimals" value="false" />
            </javaTypeResolver>

            <!-- 生成PO对象 -->
            <javaModelGenerator targetPackage="com.kuaizhan.kzweixin.dao.po.auto" targetProject="src/main/java">
                    <property name="enableSubPackages" value="false" />
            </javaModelGenerator>

            <!-- 生成mapper xml -->
            <sqlMapGenerator targetPackage="mapper.auto" targetProject="src/main/resources">
                    <property name="enableSubPackages" value="true" />
            </sqlMapGenerator>

            <!-- 生成DAO的类文件 -->
            <javaClientGenerator type="XMLMAPPER" targetPackage="com.kuaizhan.kzweixin.dao.mapper.auto"
                                 targetProject="src/main/java">
                    <property name="enableSubPackages" value="true" />
            </javaClientGenerator>


            <!--<table tableName="weixin_msg_config" domainObjectName="MsgConfigPO" mapperName="MsgConfigMapper">-->
                <!--&lt;!&ndash;status没被使用&ndash;&gt;-->
                <!--<ignoreColumn column="status" />-->
            <!--</table>-->

            <!--<table tableName="weixin_menu_item" domainObjectName="MenuItemPO" mapperName="MenuItemMapper">-->
                <!--<columnOverride column="status" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <!--<table tableName="weixin_conditional_menu" domainObjectName="ConditionMenuPO" mapperName="ConditionMenuMapper">-->
                <!--<columnOverride column="status" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <!--<table tableName="site_weixin" domainObjectName="Account">-->
                <!--<columnOverride column="service_type" javaType="java.lang.Integer"/>-->
                <!--<columnOverride column="is_del" javaType="java.lang.Integer"/>-->
            <!--</table>-->

            <!--<table tableName="weixin_msg_0" domainObjectName="MsgPO" mapperName="MsgMapper">-->
            <!--</table>-->

            <!--<table tableName="weixin_open_ids_0" domainObjectName="OpenIdPO" mapperName="OpenIdMapper">-->

            <table tableName="weixin_fans_0" domainObjectName="FanPO" mapperName="FanMapper">
                <columnOverride column="status" javaType="java.lang.Integer"/>
                <columnOverride column="sex" javaType="java.lang.Integer"/>
                <columnOverride column="in_blacklist" javaType="java.lang.Integer"/>
            </table>

        </context>
</generatorConfiguration>
