<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaizhan.kzweixin.dao.mapper.auto.GuideFollowPostMapper">
  <resultMap id="BaseResultMap" type="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPO">
    <id column="weixin_appid" jdbcType="BIGINT" property="weixinAppid" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="page_id" jdbcType="BIGINT" property="pageId" />
    <result column="post_url" jdbcType="VARCHAR" property="postUrl" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    weixin_appid, nick_name, head_img, page_id, post_url, status, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weixin_guide_follow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from weixin_guide_follow
    where weixin_appid = #{weixinAppid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from weixin_guide_follow
    where weixin_appid = #{weixinAppid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPOExample">
    delete from weixin_guide_follow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPO">
    insert into weixin_guide_follow (weixin_appid, nick_name, head_img, 
      page_id, post_url, status, 
      create_time, update_time)
    values (#{weixinAppid,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, 
      #{pageId,jdbcType=BIGINT}, #{postUrl,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPO">
    insert into weixin_guide_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="weixinAppid != null">
        weixin_appid,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="pageId != null">
        page_id,
      </if>
      <if test="postUrl != null">
        post_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="weixinAppid != null">
        #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null">
        #{pageId,jdbcType=BIGINT},
      </if>
      <if test="postUrl != null">
        #{postUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPOExample" resultType="java.lang.Long">
    select count(*) from weixin_guide_follow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update weixin_guide_follow
    <set>
      <if test="record.weixinAppid != null">
        weixin_appid = #{record.weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="record.nickName != null">
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null">
        head_img = #{record.headImg,jdbcType=VARCHAR},
      </if>
      <if test="record.pageId != null">
        page_id = #{record.pageId,jdbcType=BIGINT},
      </if>
      <if test="record.postUrl != null">
        post_url = #{record.postUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update weixin_guide_follow
    set weixin_appid = #{record.weixinAppid,jdbcType=BIGINT},
      nick_name = #{record.nickName,jdbcType=VARCHAR},
      head_img = #{record.headImg,jdbcType=VARCHAR},
      page_id = #{record.pageId,jdbcType=BIGINT},
      post_url = #{record.postUrl,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPO">
    update weixin_guide_follow
    <set>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null">
        page_id = #{pageId,jdbcType=BIGINT},
      </if>
      <if test="postUrl != null">
        post_url = #{postUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
    </set>
    where weixin_appid = #{weixinAppid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPO">
    update weixin_guide_follow
    set nick_name = #{nickName,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      page_id = #{pageId,jdbcType=BIGINT},
      post_url = #{postUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER}
    where weixin_appid = #{weixinAppid,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weixin_guide_follow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="upsert" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into weixin_guide_follow
    (weixin_appid, nick_name, head_img, page_id, post_url, status, create_time, update_time
      )
    values
    (#{weixinAppid,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, 
      #{pageId,jdbcType=BIGINT}, #{postUrl,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER})
    on duplicate key update 
    weixin_appid = #{weixinAppid,jdbcType=BIGINT}, 
    nick_name = #{nickName,jdbcType=VARCHAR}, 
    head_img = #{headImg,jdbcType=VARCHAR}, 
    page_id = #{pageId,jdbcType=BIGINT}, 
    post_url = #{postUrl,jdbcType=VARCHAR}, 
    status = #{status,jdbcType=BIT}, 
    create_time = #{createTime,jdbcType=INTEGER}, 
    update_time = #{updateTime,jdbcType=INTEGER}
  </insert>
  <insert id="upsertSelective" parameterType="com.kuaizhan.kzweixin.dao.po.auto.GuideFollowPostPO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into weixin_guide_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="weixinAppid != null">
        weixin_appid,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="pageId != null">
        page_id,
      </if>
      <if test="postUrl != null">
        post_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="weixinAppid != null">
        #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null">
        #{pageId,jdbcType=BIGINT},
      </if>
      <if test="postUrl != null">
        #{postUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="weixinAppid != null">
        weixin_appid = #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null">
        page_id = #{pageId,jdbcType=BIGINT},
      </if>
      <if test="postUrl != null">
        post_url = #{postUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>