<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaizhan.kzweixin.dao.mapper.auto.QrcodeMapper">
  <resultMap id="BaseResultMap" type="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    <id column="qrcode_id" jdbcType="BIGINT" property="qrcodeId" />
    <result column="weixin_appid" jdbcType="BIGINT" property="weixinAppid" />
    <result column="qrcode_name" jdbcType="VARCHAR" property="qrcodeName" />
    <result column="scene_id" jdbcType="BIGINT" property="sceneId" />
    <result column="ticket" jdbcType="VARCHAR" property="ticket" />
    <result column="response_type" jdbcType="INTEGER" property="responseType" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    <result column="response_json" jdbcType="LONGVARCHAR" property="responseJson" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    qrcode_id, weixin_appid, qrcode_name, scene_id, ticket, response_type, status, create_time, 
    update_time
  </sql>
  <sql id="Blob_Column_List">
    response_json
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from weixin_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weixin_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from weixin_qrcode
    where qrcode_id = #{qrcodeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from weixin_qrcode
    where qrcode_id = #{qrcodeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePOExample">
    delete from weixin_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    insert into weixin_qrcode (qrcode_id, weixin_appid, qrcode_name, 
      scene_id, ticket, response_type, 
      status, create_time, update_time, 
      response_json)
    values (#{qrcodeId,jdbcType=BIGINT}, #{weixinAppid,jdbcType=BIGINT}, #{qrcodeName,jdbcType=VARCHAR}, 
      #{sceneId,jdbcType=BIGINT}, #{ticket,jdbcType=VARCHAR}, #{responseType,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{responseJson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    insert into weixin_qrcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qrcodeId != null">
        qrcode_id,
      </if>
      <if test="weixinAppid != null">
        weixin_appid,
      </if>
      <if test="qrcodeName != null">
        qrcode_name,
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
      <if test="ticket != null">
        ticket,
      </if>
      <if test="responseType != null">
        response_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="responseJson != null">
        response_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qrcodeId != null">
        #{qrcodeId,jdbcType=BIGINT},
      </if>
      <if test="weixinAppid != null">
        #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="qrcodeName != null">
        #{qrcodeName,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        #{sceneId,jdbcType=BIGINT},
      </if>
      <if test="ticket != null">
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="responseType != null">
        #{responseType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="responseJson != null">
        #{responseJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePOExample" resultType="java.lang.Long">
    select count(*) from weixin_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update weixin_qrcode
    <set>
      <if test="record.qrcodeId != null">
        qrcode_id = #{record.qrcodeId,jdbcType=BIGINT},
      </if>
      <if test="record.weixinAppid != null">
        weixin_appid = #{record.weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="record.qrcodeName != null">
        qrcode_name = #{record.qrcodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.sceneId != null">
        scene_id = #{record.sceneId,jdbcType=BIGINT},
      </if>
      <if test="record.ticket != null">
        ticket = #{record.ticket,jdbcType=VARCHAR},
      </if>
      <if test="record.responseType != null">
        response_type = #{record.responseType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.responseJson != null">
        response_json = #{record.responseJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update weixin_qrcode
    set qrcode_id = #{record.qrcodeId,jdbcType=BIGINT},
      weixin_appid = #{record.weixinAppid,jdbcType=BIGINT},
      qrcode_name = #{record.qrcodeName,jdbcType=VARCHAR},
      scene_id = #{record.sceneId,jdbcType=BIGINT},
      ticket = #{record.ticket,jdbcType=VARCHAR},
      response_type = #{record.responseType,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      response_json = #{record.responseJson,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update weixin_qrcode
    set qrcode_id = #{record.qrcodeId,jdbcType=BIGINT},
      weixin_appid = #{record.weixinAppid,jdbcType=BIGINT},
      qrcode_name = #{record.qrcodeName,jdbcType=VARCHAR},
      scene_id = #{record.sceneId,jdbcType=BIGINT},
      ticket = #{record.ticket,jdbcType=VARCHAR},
      response_type = #{record.responseType,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    update weixin_qrcode
    <set>
      <if test="weixinAppid != null">
        weixin_appid = #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="qrcodeName != null">
        qrcode_name = #{qrcodeName,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=BIGINT},
      </if>
      <if test="ticket != null">
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="responseType != null">
        response_type = #{responseType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="responseJson != null">
        response_json = #{responseJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where qrcode_id = #{qrcodeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    update weixin_qrcode
    set weixin_appid = #{weixinAppid,jdbcType=BIGINT},
      qrcode_name = #{qrcodeName,jdbcType=VARCHAR},
      scene_id = #{sceneId,jdbcType=BIGINT},
      ticket = #{ticket,jdbcType=VARCHAR},
      response_type = #{responseType,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      response_json = #{responseJson,jdbcType=LONGVARCHAR}
    where qrcode_id = #{qrcodeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    update weixin_qrcode
    set weixin_appid = #{weixinAppid,jdbcType=BIGINT},
      qrcode_name = #{qrcodeName,jdbcType=VARCHAR},
      scene_id = #{sceneId,jdbcType=BIGINT},
      ticket = #{ticket,jdbcType=VARCHAR},
      response_type = #{responseType,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER}
    where qrcode_id = #{qrcodeId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from weixin_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weixin_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="upsert" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into weixin_qrcode
    (qrcode_id, weixin_appid, qrcode_name, scene_id, ticket, response_type, status, create_time, 
      update_time, response_json)
    values
    (#{qrcodeId,jdbcType=BIGINT}, #{weixinAppid,jdbcType=BIGINT}, #{qrcodeName,jdbcType=VARCHAR}, 
      #{sceneId,jdbcType=BIGINT}, #{ticket,jdbcType=VARCHAR}, #{responseType,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{responseJson,jdbcType=LONGVARCHAR})
    on duplicate key update 
    qrcode_id = #{qrcodeId,jdbcType=BIGINT}, 
    weixin_appid = #{weixinAppid,jdbcType=BIGINT}, 
    qrcode_name = #{qrcodeName,jdbcType=VARCHAR}, 
    scene_id = #{sceneId,jdbcType=BIGINT}, 
    ticket = #{ticket,jdbcType=VARCHAR}, 
    response_type = #{responseType,jdbcType=INTEGER}, 
    status = #{status,jdbcType=BIT}, 
    create_time = #{createTime,jdbcType=INTEGER}, 
    update_time = #{updateTime,jdbcType=INTEGER}, 
    response_json = #{responseJson,jdbcType=LONGVARCHAR}
  </insert>
  <insert id="upsertSelective" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into weixin_qrcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qrcodeId != null">
        qrcode_id,
      </if>
      <if test="weixinAppid != null">
        weixin_appid,
      </if>
      <if test="qrcodeName != null">
        qrcode_name,
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
      <if test="ticket != null">
        ticket,
      </if>
      <if test="responseType != null">
        response_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="responseJson != null">
        response_json,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qrcodeId != null">
        #{qrcodeId,jdbcType=BIGINT},
      </if>
      <if test="weixinAppid != null">
        #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="qrcodeName != null">
        #{qrcodeName,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        #{sceneId,jdbcType=BIGINT},
      </if>
      <if test="ticket != null">
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="responseType != null">
        #{responseType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="responseJson != null">
        #{responseJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="qrcodeId != null">
        qrcode_id = #{qrcodeId,jdbcType=BIGINT},
      </if>
      <if test="weixinAppid != null">
        weixin_appid = #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="qrcodeName != null">
        qrcode_name = #{qrcodeName,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=BIGINT},
      </if>
      <if test="ticket != null">
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="responseType != null">
        response_type = #{responseType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="responseJson != null">
        response_json = #{responseJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="upsertWithBLOBs" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into weixin_qrcode
    (qrcode_id, weixin_appid, qrcode_name, scene_id, ticket, response_type, status, create_time, 
      update_time, response_json)
    values
    (#{qrcodeId,jdbcType=BIGINT}, #{weixinAppid,jdbcType=BIGINT}, #{qrcodeName,jdbcType=VARCHAR}, 
      #{sceneId,jdbcType=BIGINT}, #{ticket,jdbcType=VARCHAR}, #{responseType,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{responseJson,jdbcType=LONGVARCHAR})
    on duplicate key update 
    qrcode_id = #{qrcodeId,jdbcType=BIGINT}, 
    weixin_appid = #{weixinAppid,jdbcType=BIGINT}, 
    qrcode_name = #{qrcodeName,jdbcType=VARCHAR}, 
    scene_id = #{sceneId,jdbcType=BIGINT}, 
    ticket = #{ticket,jdbcType=VARCHAR}, 
    response_type = #{responseType,jdbcType=INTEGER}, 
    status = #{status,jdbcType=BIT}, 
    create_time = #{createTime,jdbcType=INTEGER}, 
    update_time = #{updateTime,jdbcType=INTEGER}, 
    response_json = #{responseJson,jdbcType=LONGVARCHAR}
  </insert>
  <insert id="upsertSelectiveWithBLOBs" parameterType="com.kuaizhan.kzweixin.dao.po.auto.QrcodePO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into weixin_qrcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qrcodeId != null">
        qrcode_id,
      </if>
      <if test="weixinAppid != null">
        weixin_appid,
      </if>
      <if test="qrcodeName != null">
        qrcode_name,
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
      <if test="ticket != null">
        ticket,
      </if>
      <if test="responseType != null">
        response_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="responseJson != null">
        response_json,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qrcodeId != null">
        #{qrcodeId,jdbcType=BIGINT},
      </if>
      <if test="weixinAppid != null">
        #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="qrcodeName != null">
        #{qrcodeName,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        #{sceneId,jdbcType=BIGINT},
      </if>
      <if test="ticket != null">
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="responseType != null">
        #{responseType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="responseJson != null">
        #{responseJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="qrcodeId != null">
        qrcode_id = #{qrcodeId,jdbcType=BIGINT},
      </if>
      <if test="weixinAppid != null">
        weixin_appid = #{weixinAppid,jdbcType=BIGINT},
      </if>
      <if test="qrcodeName != null">
        qrcode_name = #{qrcodeName,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=BIGINT},
      </if>
      <if test="ticket != null">
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="responseType != null">
        response_type = #{responseType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="responseJson != null">
        response_json = #{responseJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>