<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuaizhan.kzweixin.dao.mapper.AccountDao">
    <!--根据siteId查账户-->
    <select id="getAccountBySiteId" resultType="com.kuaizhan.kzweixin.pojo.po.AccountPO">
        select *
        from site_weixin
        where
        site_id=#{siteId}
        and is_del=0
    </select>
    <!--根据appId查账户-->
    <select id="getAccountByAppId" resultType="com.kuaizhan.kzweixin.pojo.po.AccountPO">
        select *
        from site_weixin
        where
        app_id=#{appId}
        and is_del=0
    </select>

    <!--根据weixinAppId查账户-->
    <select id="getAccountByWeixinAppId" resultType="com.kuaizhan.kzweixin.pojo.po.AccountPO">
        select *
        from site_weixin
        where
        weixin_appid=#{weixinAppId}
        and is_del=0
    </select>
    <!--根据siteId获取已经删除的记录-->
    <select id="getDeleteAccountBySiteId" resultType="com.kuaizhan.kzweixin.pojo.po.AccountPO">
        select *
        from site_weixin
        where
        site_id=#{siteId}
        and is_del=1
    </select>
    <!--添加一个账号-->
    <insert id="insertAccount" parameterType="com.kuaizhan.kzweixin.pojo.po.AccountPO">
        insert into site_weixin
        set
        weixin_appid=#{weixinAppId},
        site_id=#{siteId},
        access_token=#{accessToken},
        refresh_token=#{refreshToken},
        expires_time=#{expiresTime},
        app_id=#{appId},
        <if test="appSecret!=null">
            app_secret=#{appSecret},
        </if>
        func_info_json=#{funcInfoJson},
        nick_name=#{nickName},
        head_img=#{headImg},
        service_type=#{serviceType},
        verify_type=#{verifyType},
        user_name=#{userName},
        <if test="alias!=null">
            alias=#{alias},
        </if>
        business_info_json=#{businessInfoJson},
        qrcode_url=#{qrcodeUrl},
        qrcode_url_kz=#{qrcodeUrlKz},
        <if test="menuJson!=null">
            menu_json=#{menuJson},
        </if>
        interest_json=#{interestJson},
        advanced_func_info_json=#{advancedFuncInfoJson},
        <if test="previewOpenId!=null">
            preview_open_id=#{previewOpenId},
        </if>
        bind_time=unix_timestamp(now()),
        <if test="unbindTime!=null">
            unbind_time=#{unbindTime},
        </if>
        is_del=#{isDel},
        create_time=unix_timestamp(now()),
        update_time=unix_timestamp(now())
    </insert>
    <!--根据siteId更新账号-->
    <update id="updateAccountBySiteId">
        update site_weixin
        set
        <if test="accessToken!=null">
            access_token=#{accessToken},
        </if>
        <if test="appId!=null">
            app_id=#{appId},
        </if>
        <if test="refreshToken!=null">
            refresh_token=#{refreshToken},
        </if>
        <if test="expiresTime!=null">
            expires_time=#{expiresTime},
        </if>
        <if test="appSecret!=null">
            app_secret=#{appSecret},
        </if>
        <if test="funcInfoJson!=null">
            func_info_json=#{funcInfoJson},
        </if>
        <if test="nickName!=null">
            nick_name=#{nickName},
        </if>
        <if test="headImg!=null">
            head_img=#{headImg},
        </if>
        <if test="serviceType!=null">
            service_type=#{serviceType},
        </if>
        <if test="verifyType!=null">
            verify_type=#{verifyType},
        </if>
        <if test="alias!=null">
            alias=#{alias},
        </if>
        <if test="businessInfoJson!=null">
            business_info_json=#{businessInfoJson},
        </if>
        <if test="qrcodeUrl!=null">
            qrcode_url=#{qrcodeUrl},
        </if>
        <if test="qrcodeUrlKz!=null">
            qrcode_url_kz=#{qrcodeUrlKz},
        </if>
        <if test="menuJson!=null">
            menu_json=#{menuJson},
        </if>
        <if test="interestJson!=null">
            interest_json=#{interestJson},
        </if>
        <if test="advancedFuncInfoJson!=null">
            advanced_func_info_json=#{advancedFuncInfoJson},
        </if>
        <if test="previewOpenId!=null">
            preview_open_id=#{previewOpenId},
        </if>
        <if test="bindTime!=null">
            bind_time=#{bindTime},
        </if>
        <if test="unbindTime!=null">
            unbind_time=#{unbindTime},
        </if>
        <if test="isDel!=null">
            is_del=#{isDel},
        </if>
        update_time=unix_timestamp(now())
        where
        site_id=#{siteId}
    </update>

    <!--根据weixinAppId更新账号-->
    <update id="updateAccountByWeixinAppId">
        update site_weixin
        set
        <if test="siteId!=null">
            site_id=#{siteId},
        </if>
        <if test="accessToken!=null">
            access_token=#{accessToken},
        </if>
        <if test="appId!=null">
            app_id=#{appId},
        </if>
        <if test="refreshToken!=null">
            refresh_token=#{refreshToken},
        </if>
        <if test="expiresTime!=null">
            expires_time=#{expiresTime},
        </if>
        <if test="appSecret!=null">
            app_secret=#{appSecret},
        </if>
        <if test="funcInfoJson!=null">
            func_info_json=#{funcInfoJson},
        </if>
        <if test="nickName!=null">
            nick_name=#{nickName},
        </if>
        <if test="headImg!=null">
            head_img=#{headImg},
        </if>
        <if test="serviceType!=null">
            service_type=#{serviceType},
        </if>
        <if test="verifyType!=null">
            verify_type=#{verifyType},
        </if>
        <if test="alias!=null">
            alias=#{alias},
        </if>
        <if test="businessInfoJson!=null">
            business_info_json=#{businessInfoJson},
        </if>
        <if test="qrcodeUrl!=null">
            qrcode_url=#{qrcodeUrl},
        </if>
        <if test="qrcodeUrlKz!=null">
            qrcode_url_kz=#{qrcodeUrlKz},
        </if>
        <if test="menuJson!=null">
            menu_json=#{menuJson},
        </if>
        <if test="interestJson!=null">
            interest_json=#{interestJson},
        </if>
        <if test="advancedFuncInfoJson!=null">
            advanced_func_info_json=#{advancedFuncInfoJson},
        </if>
        <if test="previewOpenId!=null">
            preview_open_id=#{previewOpenId},
        </if>
        <if test="bindTime!=null">
            bind_time=#{bindTime},
        </if>
        <if test="unbindTime!=null">
            unbind_time=#{unbindTime},
        </if>
        <if test="isDel!=null">
            is_del=#{isDel},
        </if>
        update_time=unix_timestamp(now())
        where
        weixin_appid=#{weixinAppId}
    </update>
    <!--根据appid删除账号-->
    <update id="deleteAccountByAppId">
        update site_weixin
        set
        unbind_time=unix_timestamp(now()),
        is_del=1,
        update_time=unix_timestamp(now())
        where
        app_id=#{appId}
    </update>
</mapper>