<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuaizhan.dao.mapper.MsgDao">

    <!--查询数目-->
    <select id="countMsgs" resultType="long">
        SELECT COUNT(*)
        FROM ${tableName}
        WHERE
        app_id = #{appId}
        AND `status` in (1, 2, 3)
        <if test="openId != null">
            AND `open_id` = #{openId}
        </if>
        <if test="sendType != null">
            AND `send_type` = #{sendType}
        </if>
        <if test="queryStr != null">
            AND `content` LIKE concat('%', #{queryStr}, '%')
            AND `type` IN (1, 12)
        </if>
        <if test="filterKeywords">
            AND `type` != 12
        </if>
        <if test="startTime != null">
            AND `create_time` &gt; #{startTime}
        </if>
        <if test="endTime != null">
            AND `create_time` &lt; #{endTime}
        </if>
    </select>

    <!--分页查询消息列表-->
    <select id="listMsgsByPagination" resultType="com.kuaizhan.pojo.po.MsgPO">
        SELECT *
        FROM ${tableName}
        WHERE
        app_id = #{appId}
        AND `status` in (1, 2, 3)
        <if test="openId != null">
            AND `open_id` = #{openId}
        </if>
        <if test="sendType != null">
            AND `send_type` = #{sendType}
        </if>
        <if test="queryStr != null">
            AND `content` LIKE concat('%', #{queryStr}, '%')
            AND `type` IN (1, 12)
        </if>
        <if test="filterKeywords">
            AND `type` != 12
        </if>
        <if test="endTime != null">
            AND `create_time` &lt; #{endTime}
        </if>
        order by create_time desc
        limit #{offset} , #{limit}
    </select>

    <!--添加一条消息-->
    <insert id="insertMsg">
        INSERT INTO ${tableName}
        (`app_id`,
        `open_id`,
        `type`,
        `content`,
        `send_type`,
        `create_time`,
        `update_time`)
        VALUES
        (#{msg.appId},
        #{msg.openId},
        #{msg.type},
        #{msg.content},
        #{msg.sendType},
        unix_timestamp(now()),
        unix_timestamp(now()));
    </insert>

</mapper>
