<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuaizhan.dao.mapper.PostDao">

    <!--根据weixin_appid查询图文消息总数-->
    <select id="count" parameterType="Long" resultType="Long">
        select count(*)
        from weixin_post
        --         status=1表示未删除；type in (1,2)只查询单图文和多图文总记录
        where weixin_appid = #{weixinAppid} and `status` = 1 and `type` in (1, 2)
        <if test="title!=null">
            and `title` like CONCAT('%', #{title} ,'%')
        </if>
    </select>

    <!--根据weixin_appid分页查询图文消息列表-->
    <select id="listPostsByPagination" parameterType="com.kuaizhan.pojo.DTO.Page"
            resultType="com.kuaizhan.pojo.DO.PostDO">
        select *
        from weixin_post
        --       status=1表示未删除；type in (1,2)只查询单图文和多图文总记录
        where `weixin_appid` = #{weixinAppid} and `status` = 1 and `type` in (1, 2)
        <if test="title!=null">
            and `title` like CONCAT('%', #{title} ,'%')
        </if>
        order by `update_time` DESC
        limit #{pageEntity.offset}, #{pageEntity.limit}
    </select>

    <!--根据weixin_appid查询所有图文消息mediaId列表-->
    <select id="listMediaIdsByWeixinAppid" parameterType="Long"
            resultType="String">
        select media_id
        from weixin_post
        --       status=1表示未删除；type in (1,2)只查询单图文和多图文总记录
        where weixin_appid = #{weixinAppid} and `status` = 1 and `type` in (1, 2)
    </select>

    <!--根据mediaId查询多图文-->
    <select id="listMultiPosts" resultType="com.kuaizhan.pojo.DO.PostDO">
        select *
        from `weixin_post`
        --   type=3表示多图文消息中的一条
        where weixin_appid = #{weixinAppid} AND `media_id` = #{mediaId} AND `status` = 1 AND `type` = 3
        order by `index`
    </select>

    <!--根据mediaId删除图文-->
    <update id="deletePost">
        update `weixin_post`
        --   type=3表示多图文消息中的一条
        set `status` = 2
        where `weixin_appid`=#{weixinAppid} and `media_id`=#{mediaId} and `status` = 1
    </update>

    <!--根据mediaId物理删除图文-->
    <delete id="deletePostReal">
        DELETE FROM `weixin_post`
        where `weixin_appid`=#{weixinAppid} and `media_id`=#{mediaId} and `status` = 1
    </delete>

    <select id="getPost" parameterType="long" resultType="com.kuaizhan.pojo.DO.PostDO">
        select *
        from `weixin_post`
        where `status` = 1 and `page_id`=#{pageId}
    </select>

    <!--新增图文-->
    <insert id="insertPost" parameterType="com.kuaizhan.pojo.DO.PostDO">
        INSERT INTO weixin_post set
        `page_id`=#{post.pageId},
        `weixin_appid`=#{post.weixinAppid},
        `title`=#{post.title},
        `thumb_media_id`=#{post.thumbMediaId},
        `thumb_url`=#{post.thumbUrl},
        <choose>
            <when test="post.showCoverPic != null">
                `show_cover_pic`=#{post.showCoverPic},
            </when>
            <otherwise>
--                 提供默认值0
                `show_cover_pic`=0,
            </otherwise>
        </choose>
        `author`=#{post.author},
        `digest`=#{post.digest},
        `content_source_url`=#{post.contentSourceUrl},
        `media_id`=#{post.mediaId},
        `post_url`="",
        `type`=#{post.type},
        `index`=#{post.index},
--         解耦后全部设为零，后期工单删掉
        `kuaizhan_post_id`=0,
        `status`=1,
        `sync_time`=unix_timestamp(now()),
        <choose>
            <when test="post.updateTime != null">
                `update_time`=#{post.updateTime},
            </when>
            <otherwise>
                `update_time`=unix_timestamp(now()),
            </otherwise>
        </choose>
        `create_time`=unix_timestamp(now());
    </insert>

    <!--修改图文-->
    <update id="updatePost" parameterType="com.kuaizhan.pojo.DO.PostDO">
        UPDATE weixin_post set
        <if test="post.weixinAppid != null">
            `weixin_appid`=#{post.weixinAppid},
        </if>
        <if test="post.title != null">
            `title`=#{post.title},
        </if>
        <if test="post.thumbMediaId != null">
            `thumb_media_id`=#{post.thumbMediaId},
        </if>
        <if test="post.thumbUrl != null">
            `thumb_url`=#{post.thumbUrl},
        </if>
        <if test="post.showCoverPic != null">
            `show_cover_pic`=#{post.showCoverPic},
        </if>
        <if test="post.author != null">
            `author`=#{post.author},
        </if>
        <if test="post.digest != null">
            `digest`=#{post.digest},
        </if>
        <if test="post.contentSourceUrl != null">
            `content_source_url`=#{post.contentSourceUrl},
        </if>
        <if test="post.mediaId != null">
            `media_id`=#{post.mediaId},
        </if>
        <if test="post.type != null">
            `type`=#{post.type},
        </if>
        <if test="post.index != null">
            `index`=#{post.index},
        </if>
        `sync_time`=unix_timestamp(now()),
        `update_time`=unix_timestamp(now())
        WHERE `page_id` = #{pageId}
    </update>

    <select id="exist" resultType="Boolean">
        SELECT COUNT(*)
        FROM weixin_post
        WHERE `weixin_appid` = #{weixinAppid} AND `media_id` = #{mediaId} AND `status` = 1
    </select>

</mapper>
