<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaizhan.kzweixin.dao.mapper.TplMassDao">

    <!--根据tplMassId原子性自增更新success_count字段-->
    <update id="incSuccessCount" parameterType="java.lang.Long">
        UPDATE weixin_tpl_mass SET
        success_count = weixin_tpl_mass.success_count + 1
        WHERE tpl_mass_id = #{tplMassId} AND weixin_appid = #{weixinAppid}
    </update>

    <!--根据tplMassId原子性自增更新reject_fail_count字段-->
    <update id="incRejectCount" parameterType="java.lang.Long">
        UPDATE weixin_tpl_mass SET
        reject_fail_count = weixin_tpl_mass.reject_fail_count + 1
        WHERE tpl_mass_id = #{tplMassId} AND weixin_appid = #{weixinAppid}
    </update>

    <!--根据tplMassId原子性自增更新other_fail_count字段-->
    <update id="incOtherFailedCount" parameterType="java.lang.Long">
        UPDATE weixin_tpl_mass SET
        other_fail_count = weixin_tpl_mass.other_fail_count + 1
        WHERE tpl_mass_id = #{tplMassId} AND weixin_appid = #{weixinAppid}
    </update>

</mapper>